.backdrop-container .loading {
  position: fixed;
  top: 30%;
  width: 240px;
  left: 50%;
  margin-left: -130px;
  padding: 20px 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 15px;
}

// #loading-box {
//   transition: display 2s;
//   // -moz-transition: display 2s; /* Firefox 4 */
//   // -webkit-transition: display 2s; /* Safari and Chrome */
//   // -o-transition:display 2s; /* Opera */
// }
