<div class="padding-10 align-right">
  <a class="color-red icon" href="#" ng-click="choosed()">确定</a>
  <p class="tips align-center font-18">
    请选择你要领取的卡券
  </p>
</div>
<div class="padding-horizontal-10">
  <div class="merchant-list">
    <div class="header">
      <img ng-src="{{merchant.logo.url | urlFilter}}" alt="" />
      <div class="info">
        <p class="merchantName">{{merchant.merchantName}}</p>
        <p class="color-gray location">
          <i class="again-icon">&#xe600;</i>{{merchant.location}}</p>
      </div>
    </div><!-- endOf: .header -->

    <div ng-repeat="ticket in merchant.tickets | orderBy:'type':false">
      <a class="ticket-list-{{ticket.type}}" ng-click="choose(ticket.id)">
        <div class="cardFlag"></div>
        <div class="info">
          <p class="bold">{{ticket.ticketName}}</p>
          <p class="lighter font-13"  style="margin-top: -2px"><i class="again-icon">&#xe601;</i>{{ticket.haveTime | date: 'yyyy年MM月dd日'}} - {{ticket.validTime | date: 'yyyy年MM月dd日'}}</p>
        </div>
        <div class="friend align-center" ng-show="!!ticket.friendsName">
          <img ng-src="{{ticket.friendsHeaderImg | urlFilter}}" width="36px" height="36px" />
          <p class="font-10 padding-top-5">
            {{ticket.friendsName}}
          </p>
        </div>
        <div ng-class="ticket.choose ? 'checkbox-checked': ''" class="checkbox"></div>
      </a>
    </div>


  </div>
</div>
