<div class="tips padding-20">
  这是我保存在【再来】上的优惠券，再三考虑，还是决定与你共享（请一定不要泄露给其他人..）
</div>

<div class="ticket-share padding-10">
  <div class="header">
    <img ng-src="{{merchant.logo.url | urlFilter}}" alt="" />
    <div class="info">
      <p>{{merchant.merchantName}}</p>
      <p class="color-gray">
        <i class="again-icon">&#xe600;</i>{{merchant.location}}</p>
    </div>
  </div>
  <div class="card-bg">
    <div class="card card-{{type}}">
      <p class="color-white font-22 padding-horizontal-20" style="padding-top: 20px; padding-bottom: 10px;">
        {{merchant.tickets[0].ticketName}}
      </p>
      <p class="color-white font-12 padding-horizontal-20">
        <i class="again-icon">&#xe601;</i>{{merchant.tickets[0].haveTime | date: 'yyyy年MM月dd日过期'}}
      </p>
    </div>
  </div>

  <div class="padding-vertical-70 align-center">
    <a class="squareBtn font-20" ng-click="accept()">接受好友的心意</a>
  </div>

</div>

<div class="align-center tips">
  <p>
    再来已跟城中93户热门商家合作
  </p>
  <p>
    涵盖了餐饮、美容、汽车、娱乐等消费优惠
  </p>
</div>
