<div class="padding-10">
  <div class="ticket-detail-7">
    <div class="bg padding-20">
      <p class="font-18">{{respData.merchant.tickets[0].ticketName}}</p>
      <p class="lighter font-14">
        <i class="again-icon">&#xe601;</i>
        {{respData.merchant.tickets[0].haveTime | date: 'yyyy年MM月dd日'}} - {{respData.merchant.tickets[0].validTime | date: 'MM月dd日'}}
      </p>
      <br>
      <div class="align-center">
        <qrcode size="150" data="http://again.51b.org"></qrcode>
      </div>
      <br>
    </div>

    <div class="align-center padding-vertical-30">
      <a ui-sref="#" class="ellipseBtn">与朋友一起使用</a>
    </div>
  </div>
</div>

<div class="ticket-state padding-10">
  <p>
    {{respData.merchant.applierDesc}}
  </p>
  <br><br>
  <p>
    <i class="again-icon">&#xe604;</i>
  </p>
  <p>
    <i class="again-icon">&#xe602;</i>&nbsp;&nbsp; {{respData.merchant.phoneNumber}}
  </p>
  <p>
    <i class="again-icon">&#xe603;</i>&nbsp;&nbsp; {{respData.merchant.location}}
  </p>
  <p>
    <i class="again-icon">&#xe601;</i>&nbsp;&nbsp; {{respData.merchant.start}} - {{respData.merchant.end}}
  </p>
</div>
