<div class="padding-10">
  <div class="ticket-detail-2" ng-show="!empty">
    <div class="bg padding-20" ng-style="{ 'padding-bottom': !!qrcodeData ? '80px' : '20px'}">
      <p class="font-18 bg-text">{{merchant.tickets[0].ticketName}}</p>
      <p class="lighter font-14">
        <i class="again-icon">&#xe601;</i>
        {{merchant.tickets[0].haveTime | date: 'yyyy年MM月dd日'}} - {{merchant.tickets[0].validTime | date: 'yyyy年MM月dd日'}}
      </p>
      <br>
      <div class="align-center">
        <span ng-repeat="item in maxPrinted">
          <span ng-class="item.clsName"></span>
        </span>
      </div>
      <qrcode size="150" version="{{qrcodeVersion}}" data='{{qrcodeData}}' ng-show="!!qrcodeData"></qrcode>
      <br>
    </div>

    <div class="align-center margin-vertical-30" ng-style="{ 'padding-top': !!qrcodeData ? '80px' : '0'}">
      <a class="ellipseBtn" ng-click="shareWith()">与朋友一起使用</a>
    </div>
  </div>
  <div ng-show="empty">
    <img src="../../images/no-card.png" alt="" width="100%" />
  </div>
</div>

<div class="ticket-state padding-10">
  <p>
    {{merchant.applierDesc}}
  </p>
  <br><br>
  <p>
    <i class="again-icon">&#xe604;</i>
  </p>
  <p>
    <i class="again-icon">&#xe602;</i>&nbsp;&nbsp; {{merchant.phoneNumber}}
  </p>
  <p>
    <i class="again-icon">&#xe603;</i>&nbsp;&nbsp; {{merchant.location}}
  </p>
  <p>
    <i class="again-icon">&#xe601;</i>&nbsp;&nbsp; {{merchant.start}} - {{merchant.end}}
  </p>
</div>
