<div class="padding-10 align-right">
  <a class="color-red icon icon-expires" href="#" ng-click="expiresNotice()">过期提醒</a>
</div>

<div class="padding-horizontal-10">
  <div class="merchant-list" ng-repeat="merchant in respData.myWallet">

    <div class="header">
      <againimg url="merchant.logo.url"></againimg>
      <div class="info">
        <p>{{merchant.merchantName}}</p>
        <p class="color-gray">
          <i class="again-icon">&#xe600;</i>{{merchant.location}}</p>
      </div>
    </div><!-- endOf: .header -->

    <div ng-repeat="ticket in merchant.tickets | orderBy:'type':false">
      <againticket ticket="ticket" user-id="{{userId}}"></againticket>
    </div>

    <div class="align-center padding-vertical-30">
      <a class="ellipseBtn" ui-sref="#">查看更多卡券</a>
    </div>

    <div class="font-8 align-right">
      your access_token:
      <br>
      {{accessToken}}
    </div>

  </div><!-- endOf: .merchant-list -->
</div>
